@page "/"

<div class="text-center pb-1">
    <button @onclick="click" class="btn btn-outline-primary">Random</button>
</div>
<div class="text-center">
    <img src="@ImageSorce"  class="img-fluid"/>
</div>


@code{
    string ImageSorce;
    int maenorandom;

    //画像を変更したい場合
    //IMGは固定で 〇〇.png のところを変更する
    string[] ImageArray = new string[] { "/IMG/m1.png", "/IMG/m2.png", "/IMG/m3.png", "/IMG/m4.png", "/IMG/m5.png", "/IMG/m6.png", "/IMG/m7.png", "/IMG/m8.png", "/IMG/m9.png", "/IMG/m10.png", "/IMG/m11.png", "/IMG/m12.png" };


    void click()
    {
        while (true)
        {
            var rnd = new Random().Next(0, 12);
            if (maenorandom != rnd)
            {
                maenorandom = rnd;
                ImageSorce = ImageArray[rnd];
                break;
            }
        }
    }
}